@using Data.Model.APIWeb
@using Data.Utils
@model  PointDetailOutputModel


<div class="modal fade" id="detailPoint" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-fw fa-exchange"></i> Chi tiết giao dịch</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <div class="row pt-3">
                    <label class="col-md-4">Mã giao dịch</label>
                    <div class="col-md-8 text-bold text-primary">@Model.AddPointCode</div>
                </div>
                <div class="row pt-3">
                    <div class="col-md-4 text-bold" >Tên sản phẩm</div>
                    <div class="col-md-8">@Model.ProductName</div>
                </div>
                <div class="row pt-3">
                    <div class="col-md-4 text-bold">Ngày kích hoạt bảo hành</div>
                    <div class="col-md-8">@Model.GetStringActiveDate</div>
                </div>
                <div class="row pt-3">
                    <div class="col-md-4 text-bold">Ngày hết hạn bảo hành</div>
                    <div class="col-md-8">@Model.GetStringExpireDate</div>
                </div>
                <div class="row pt-3">
                    <label class="col-md-4">Loại giao dịch</label>
                    <div class="col-md-8">@Util.GetNameType(Model.Type)</div>
                </div>
                <div class="row pt-3">
                    <label class="col-md-4">Ngày giao dịch</label>
                    <div class="col-md-8">@Model.GetStringCreateDate</div>
                </div>
                <div class="row pt-3">
                    <label class="col-md-4">Số điểm</label>
                    <div class="col-md-8">@String.Format("{0:n0}", Model.Point)</div>
                </div>
                <div class="row pt-3">
                    <label class="col-md-4">Số dư</label>
                    <div class="col-md-8">@String.Format("{0:n0}", Model.Balance)</div>
                </div>
                <div class="row pt-3">
                    <label class="col-md-4">Khách hàng</label>
                    <div class="col-md-8">@Model.CustomerName</div>
                </div>
                <div class="row pt-3">
                    <label class="col-md-4">Địa chỉ</label>
                    <div class="col-md-8">@Model.Address</div>
                </div>
                <div class="row pt-3 pb-3">
                    <label class="col-md-4">Số điện thoại</label>
                    <div class="col-md-8">@Model.Phone</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
    
</div>

